html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
}

/* header */
.header {
  display: flex;
  justify-content: center;
}

.logo {
  height: 5rem;
}

.navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-left: 2rem;
}

.items {
  padding-left: 1rem;
}

/* main */
/* footer */
